body {
    margin: 60px auto;
    width: 70%;
}
nav {
    text-align: center;
    margin-top:40px;
}
nav h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 48px;
}
nav ul, footer ul {
    font-family:'Rubik', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
}

p {
    font-size: 1.5em;
    font-family:'Rubik', sans-serif;
    line-height: 1.4em;
    color: #464646;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
