body {
    margin: 60px auto;
    width: 70%;
}
nav {
    text-align: center;
    margin:100px auto;
}
nav h1 a {
    font-family:'Open Sans', sans-serif;
    font-size: 36px;
    margin-bottom:0;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing:7px;
    color:#444;
}
nav ul li a {
    font-family:'Josefin Sans', sans-serif;
    font-size:16px;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing:2px;
    color:#666;
    margin: 10px 15px;
    border-bottom:1px solid #fff;
}
nav ul li a:hover {
    border-bottom:1px dashed #666;
}
nav ul, footer ul {
    font-family:'Josefin Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: 600;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
}
.container a {
    color:#6ca29b;
    border-bottom:1px solid #6ca29b;
}
.container a:hover {
    color:#4e7570;
}
p {
    font-size: 1em;
    font-family:'Open Sans', sans-serif;
    line-height: 1.5em;
    color: #464646;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
