:root {
    --mainColor: #ece299;
}
::selection {
    background:#ece299;
}
body {
    margin: 60px auto;
    width: 85%;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
    color:inherit;
    cursor:pointer;
}
nav {
    text-align: center;
    margin:70px auto;
}
nav h1 a {
    font-family:'Lora', serif;
    font-size: 49px;
    margin-bottom:0;
    font-weight:400;
    color:#333;
    cursor:pointer;
}
h2 {
    font-family:'Lora', serif;
    color:#333;
    margin: 50px auto 0 auto;
}
nav ul li a {
    font-family:'Muli', sans-serif;
    font-size:16px;
    font-weight:600;
    text-transform: uppercase;
    color:#666;
    margin: 10px 15px;
    cursor:pointer;
    transition:0.3s;
}
#navbar a.current {
    border-bottom: 4px solid #ece299;
}
#navbar a:hover{
    opacity:0.7;   
}
nav ul {
    font-family:'Muli', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: 600;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
.link-highlight {
    background:
        linear-gradient(
            to bottom, var(--mainColor) 0%,
            var(--mainColor) 100%
        );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    transition: background-size .2s;
    transition-timing-function: ease-in-out;
}
.link-highlight:hover {
    background-size: 4px 60px;
}
p, ul, li {
    font-size: 16px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    line-height: 28px;
    color: #464646;
}

@media only screen and (min-width: 580px) {
    body {
        margin: 60px auto;
        width: 70%;
    }
    nav {
        margin:100px auto;
    }
    .left-body {
        display:inline-block;
        width: 65%;
    }
    .right-bar {
        display:inline-block;
        width:30%;
        vertical-align:top;
        float:right;
        margin-left:4%;
        margin-top:20px;
    }
    .left-year {
        display:inline-block;
        width:22%;
        vertical-align:top;
    }
    .right-desc {
        display:inline-block;
        width: 75%;
    }
}


@media only screen and (min-width: 1000px) {
    .left-year {
        width: 15%;
    }
    .right-desc {
        width:80%;
    }
}
