<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Muli:300,400,600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,600&display=swap" rel="stylesheet">
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<script type="text/javascript" src="/js/site.js"></script>
		</head>
		<body>
			---
			navigation:
			 - text: About
			   url: /
			 - text: CV
			   url: /cv
			 - text: Research
			   url: /research
			 - text: Contact
			   url: /contact/
			---
			
			<nav>
				<h1><a href="/">Michael Rotolo</a></h1>
	    		<ul id="navbar">
				{% assign url = page.url|remove:'index.html' %}
				{% for link in page.navigation %}
	        		<li {% if url == link.url %}class="current"{% endif %}>
					<a href="{{link.url}}" title="{{link.title}}"><{{link.text}}</a>
				</li>
				{% endfor %}
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
